/* Light Mode Background */
.background-blur {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: var(--background-gradient-light);
  filter: blur(var(--blur-intensity-light));
  z-index: -1;
  top: 0;
  left: 0;
}

/* Dark Mode Background */
[data-theme="dark"] .background-blur {
  background: var(--background-gradient-dark);
  filter: blur(var(--blur-intensity-dark));
}

/* Overlay Effect for Content */
.overlay {
  position: relative;
  padding: 2rem;
  backdrop-filter: blur(10px);
  background-color: var(--overlay-background-light);
  border-radius: var(--border-radius);
}

[data-theme="dark"] .overlay {
  background-color: var(--overlay-background-dark);
}

.hero-img {
  width: fit-content;
}

/* Hero.style.css */

/* Light mode styles */
body {
  --text-color: #4a4a4a;
  --bg-color: #ffffff;
  --border-color: #e5e7eb;
}

.text-gray-700 {
  color: var(--text-color);
}

.bg-white {
  background-color: var(--bg-color);
}

.border-indigo-500 {
  border-color: #6366f1;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  body {
    --text-color: #d1d5db;
    --bg-color: #111827;
    --border-color: #4b5563;
  }

  .text-gray-700 {
    color: var(--text-color);
  }

  .bg-white {
    background-color: var(--bg-color);
  }

  .border-indigo-500 {
    border-color: #9333ea;
  }

  /* You can add additional dark mode specific styles here */
  .text-gray-600 {
    color: #d1d5db;
  }

  .text-gray-900 {
    color: #f9fafb;
  }
}
