@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&display=swap');
/* 
.nav-link Link{
  cursor: pointer;
  background: var(--text-color);
  color: var(--background-color);
} */

.libre-barcode-128-text-regular {
  font-family: "Libre Barcode 128 Text", system-ui;
  font-weight: 800;
  font-style: normal;
}
