/* styles/globals.css */
:root {
  --background-color: #ffffff; /* Light mode background */
  --text-color: #000000; /* Light mode text color */
  --accent-color: #39ff14; /* Light mode accent color */
}

[data-theme='dark'] {
  --background-color: #121212; /* Dark mode background */
  --text-color: #e0e0e0; /* Dark mode text color */
  --accent-color: #39ff14; /* Dark mode accent color */
}
